<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theironyard.finalproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Final Project"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CreateChildActivity"/>
        <activity
            android:name=".activities.ParentProfileActivity"
            android:label="@string/title_activity_parent_profile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.CreateChoreActivity"/>
        <activity
            android:name=".activities.ChildProfileActivity"
            android:label="ChildProfileActivity"/>
        <activity
            android:name=".activities.CreateRewardActivity"
            android:label="CreateRewardActivity"/>
        <activity android:name=".activities.ParentViewWishlistActivity">
        </activity>
        <activity android:name=".activities.ParentViewChoresActivity">
        </activity>
        <activity android:name=".activities.UpdateProfileActivity">
        </activity>
        <activity android:name=".activities.CreateWishlistItemActivity">
        </activity>
        <activity android:name=".activities.EditRewardActivity">
        </activity>
        <activity android:name=".activities.HomeActivity">
        </activity>
        <activity android:name=".activities.CalendarActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".activities.ChildViewChoresActivity"/>
        <activity android:name=".old.ChildViewWishlistActivity">
        </activity>
        <activity android:name=".activities.RegistrationActivity">
        </activity>
        <activity android:name=".activities.ParentLoginActivity">
        </activity>
        <activity android:name=".activities.ChildLoginActivity">
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".activities.ChildViewRewardsActivity">
        </activity>
        <activity android:name=".activities.ChildLogoutActivity">
        </activity>
    </application>

</manifest>